
.App {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button.ui.button {
  margin: 20px;
}

div.ui.items {
  text-align: center;
}